.title{
display:flex;
justify-content:left;
padding:12px;



}

.container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  border:2px solid;

}
.item1{
width:2000px;
padding:10px;
height:50px;
background:gray;
}

.item2{
width:2000px;
padding:10px;
height:50px;
background:white;
}

.item3{
width:2000px;
padding:10px;
height:50px;
background:gray;
}

.footer{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-end;
border:2px soild;
margin-bottom:auto;

align-self:bottom;
}

.button1{
width:200px;
padding:10px;
height:50px;

background:gray;}

.button2{
width:200px;
padding:10px;
height:50px;
background:white;}

.formLayout{
display:flex;
flex-direction:column;
align-items:left;

width:400px;
}

.description_field{


margin:20px;
flex-direction:column;
flex:1:1:auto;
}

.amount_field{


margin:20px;
align-self:stretch;

}

.date_field{


margin:20px;
}



.buttonField{
display:flex;
flex-direction:row;
gap:40px;
text-align:center;
}

.homeButton{
display:flex;
background-color:gray;}

.spendButton{
display:flex;
background-color:white;}